cfg/config.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
        <!-- Just include this to allow nodeset being a root attribute -->
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
    <xs:element name="configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence>
                    <!-- sinks/sources/declassifiers BEGIN -->
                    <xs:element name="nodeset" maxOccurs="3">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="category" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="node" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="name" type="xs:string"
                                                                  use="required"/>
                                                    <xs:attribute name="parlabels" type="xs:string"
                                                                  use="required"/>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                        <xs:attribute name="abbreviation" type="xs:string"
                                                      use="required"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="id" type="xs:ID" use="required"/>
                            <xs:attribute ref="xml:base"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <!-- sinks/sources/declassifiers END -->
                <!-- lattice BEGIN -->
                <xs:element name="lattice">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="levels">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="level" maxOccurs="unbounded"
                                                    minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="id"
                                                                      use="required"/>
                                                        <xs:attribute type="xs:string" name="desc"
                                                                      use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="relations">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="smeq" maxOccurs="unbounded"
                                                    minOccurs="1">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="lhs"
                                                                      use="required"/>
                                                        <xs:attribute type="xs:string" name="rhs"
                                                                      use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                    </xs:complexType>
                </xs:element>
                <!-- lattice END -->
                <!-- exclusions BEGIN -->
                <xs:element name="exclusions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="exclusion" maxOccurs="unbounded"
                                        minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="pattern"
                                                          use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                    </xs:complexType>
                </xs:element>
                <!-- exclusions END -->
                <!-- entrypoints BEGIN -->
                <xs:element name="entrypoints">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="entrypoint" maxOccurs="unbounded"
                                        minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="function" maxOccurs="unbounded"
                                                    minOccurs="1">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="name"
                                                                      use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="class" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                    </xs:complexType>
                </xs:element>
                <!-- entrypoints END -->
                <!-- classes BEGIN -->
                <xs:element name="classes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="class" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="elem" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="desc" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                    </xs:complexType>
                </xs:element>
                <!-- classes END -->
                <!-- classes BEGIN -->
                <xs:element name="autofix">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="vulnerability" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="context" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="pattern" type="xs:string"/>
                                                <xs:attribute name="dcl" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="sink" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                    </xs:complexType>
                </xs:element>
                <!-- classes END -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>